.index__div2___1GNwQ {
  float: left;
  width: 55%;
  height: 100%;
}
.index__div2___1GNwQ .index__titleNode___3ucMd {
  width: 384px;
  height: 120px;
  color: #ffffff;
  /* float: left; */
  line-height: 103px;
  text-align: center;
  cursor: pointer;
  position: relative;
  /* margin-left: 88px; */
  font-size: 44px;
  text-shadow: 0 0 30px #f4faf5;
}
.index__div2___1GNwQ .index__realtime___13AKy {
  width: 1742px;
  height: 723px;
  border-style: solid;
  border-color: transparent;
  border-width: 400px 310px 60px 165px;
  -webkit-border-image: url(/images/imgs/框.png);
       -o-border-image: url(/images/imgs/框.png);
          border-image: url(/images/imgs/框.png);
  border-image-slice: 400 310 60 165 fill;
  padding: 0;
}
.index__div2___1GNwQ .index__realtime___13AKy .index__sbox___Mhuy9 {
  height: 663px;
  margin-top: -400px;
  margin-left: -145px;
  margin-right: -432px;
  margin-bottom: -15px;
}
.index__div2___1GNwQ .index__realtime___13AKy .index__sbox___Mhuy9 .index__demo___2L-S7 {
  overflow: hidden;
  height: 500px;
}
.index__div2___1GNwQ .index__realtime___13AKy .index__sbox___Mhuy9 .index__demo2___2lE1o {
  margin-top: -20px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv {
  width: 1685px;
  overflow: hidden;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 {
  width: 1685px;
  padding-top: 50px;
  padding-left: 60px;
  margin: 74px 0 0 36px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 tr {
  height: 90px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th {
  height: 40px;
  font-family: MicrosoftYaHei;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #ffffff;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(1) {
  width: 380px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(2) {
  width: 160px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(3) {
  width: 178px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(4) {
  width: 90px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(5) {
  width: 155px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(6) {
  width: 155px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(7) {
  width: 180px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 th:nth-child(8) {
  width: 220px ;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td {
  height: 40px;
  font-family: MicrosoftYaHei;
  font-size: 40px;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(1) {
  width: 380px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(2) {
  width: 160px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(3) {
  width: 178px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(4) {
  width: 90px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(5) {
  width: 155px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(6) {
  width: 155px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(7) {
  width: 180px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 td:nth-child(8) {
  width: 220px;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 .index__striped1___3Lu2q {
  background-color: #172362;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 .index__striped___3u9YM {
  background-color: #0a5bb2;
  text-align: center;
}
.index__div2___1GNwQ .index__smalltable___3pGNv .index__table___2FN66 .index__striped2___Bmbr- {
  background-color: #133884;
}
.index__ss___8kaiC {
  width: 240px !important;
}
.index__lj___SySMx {
  width: 320px !important;
}

/*# sourceMappingURL=index.css.map*/