.index__div1___1j3gZ {
  float: left;
  width: 32%;
  height: 100%;
}
.index__div1___1j3gZ .index__titleNode___3qCu7 {
  color: #fff;
  width: 384px;
  height: 120px;
  /* float: left; */
  line-height: 120px;
  text-align: center;
  cursor: pointer;
  position: relative;
  /* margin-left: 88px; */
  font-size: 44px;
  text-shadow: 0 0 30px #f4faf5;
}
.index__div1___1j3gZ .index__realtime___3PIP9 {
  margin-top: 29px;
  width: 788px;
  height: 723px;
}
.index__container___1ptWT {
  overflow: hidden;
  width: 730px;
  top: 190px;
  position: relative;
  left: 17px;
  height: 520px;
}
.index__labeltextleft___27S5n {
  position: absolute;
  width: 100px;
  color: #C6E5FF;
  left: 266px;
  top: 540px;
  font-size: 26px;
  fill: #C6E5FF;
}
.index__labeltextright___29Odu {
  position: absolute;
  width: 100px;
  color: #C6E5FF;
  right: 250px;
  top: 590px;
  font-size: 26px;
  fill: #C6E5FF;
}
.index__righttbox___1Ds89 {
  position: relative;
  top: -594px;
  left: 430px;
  width: 315px;
  height: 219px;
  z-index: 99999;
}
.index__righttbox___1Ds89 .index__xian___1kJQC {
  float: left;
  display: inline-block;
  width: 70px;
  height: 219px;
}
.index__righttbox___1Ds89 .index__text___X7neD {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 221px;
  height: 219px;
}
.index__righttbox___1Ds89 .index__text___X7neD span {
  width: 221px;
  height: 44px;
  font-size: 31px;
  text-align: center;
  line-height: 44px;
  letter-spacing: 2px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2668dc), to(#7979f4)), -webkit-gradient(linear, left top, left bottom, from(#0090ff), to(#0090ff));
  background-image: -webkit-linear-gradient(bottom, #2668dc 0%, #7979f4 100%), -webkit-linear-gradient(#0090ff, #0090ff);
  background-image: linear-gradient(0deg, #2668dc 0%, #7979f4 100%), linear-gradient(#0090ff, #0090ff);
  background-blend-mode: normal, 
        normal;
  border-radius: 6px;
}
.index__righttbox___1Ds89 .index__text___X7neD p {
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
}
.index__righttbox___1Ds89 .index__text___X7neD p i {
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
}
.index__leftbox___2djGw {
  position: relative;
  top: -793px;
  left: 35px;
  width: 315px;
  height: 219px;
  z-index: 99999;
}
.index__leftbox___2djGw .index__xian___1kJQC {
  float: left;
  display: inline-block;
  width: 70px;
  height: 180px;
}
.index__leftbox___2djGw .index__text___X7neD {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 221px;
  height: 219px;
}
.index__leftbox___2djGw .index__text___X7neD span {
  width: 221px;
  height: 44px;
  font-size: 31px;
  text-align: center;
  line-height: 44px;
  letter-spacing: 2px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0090ff), to(#2fceee)), -webkit-gradient(linear, left top, left bottom, from(#0090ff), to(#0090ff));
  background-image: -webkit-linear-gradient(bottom, #0090ff 0%, #2fceee 100%), -webkit-linear-gradient(#0090ff, #0090ff);
  background-image: linear-gradient(0deg, #0090ff 0%, #2fceee 100%), linear-gradient(#0090ff, #0090ff);
  background-blend-mode: normal, 
		normal;
  border-radius: 6px;
}
.index__leftbox___2djGw .index__text___X7neD p {
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
}
.index__leftbox___2djGw .index__text___X7neD p i {
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
}

/*# sourceMappingURL=index.css.map*/