.index__pumpingStation___t63pN {
  width: 411px;
  height: 636px;
}
.index__pumpingStation___t63pN .index__yunxing___3iFG2 {
  width: 137px;
  text-align: center;
  height: 37px;
}
.index__pumpingStation___t63pN .index__yunxing___3iFG2 p {
  font-size: 16px;
  line-height: 37px;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ {
  margin-top: 10px;
  width: 411px;
  height: 589px;
  -o-object-fit: cover;
     object-fit: cover;
  border-style: solid;
  border-color: transparent;
  border-width: 200px 310px 35px 65px;
  -webkit-border-image: url(/images/imgs/onescreen/框.png);
       -o-border-image: url(/images/imgs/onescreen/框.png);
          border-image: url(/images/imgs/onescreen/框.png);
  border-image-slice: 200 310 35 65 fill;
  padding: 0;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ {
  height: 500px;
  margin-top: -200px;
  margin-left: -65px;
  margin-right: -305px;
  margin-bottom: -15px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG {
  display: inline-block;
  margin-top: 49px;
  margin-left: 18px;
  width: 392px;
  height: 199px;
  /* Standard syntax */
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__psone___1Ztum {
  width: 182px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 45px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__condition___2vsz8 {
  margin-left: 45px;
  width: 290px;
  height: 36px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__condition___2vsz8 p {
  float: left;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #00ffff;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__condition___2vsz8 .index__stop___YaQkg {
  margin-left: 22px;
  float: left;
  width: 17px;
  height: 33px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__condition___2vsz8 .index__stop___YaQkg span {
  display: inline-block;
  width: 17px;
  height: 22px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__condition___2vsz8 .index__stop___YaQkg i {
  font-size: 12px;
  font-style: normal;
  color: #0090ff;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__jindu___11vHY {
  margin-top: 17px;
  margin-left: 45px;
  height: 14px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__jindu___11vHY .index__shunshi___-J2B5 {
  width: 60px;
  height: 14px;
  float: left;
  font-size: 14px;
  color: #00ffff;
  letter-spacing: 1px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__jindu___11vHY .index__Time___1na5R {
  font-size: 16px;
  color: #00ffff;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__jindu___11vHY .index__Time___1na5R span {
  font-size: 12px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__container___2J5XL {
  margin-left: 20px;
  margin-right: 5px;
  float: left;
  width: 156px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__title___2YBpU {
  margin-left: 20px;
  background: #545965;
  color: #fff;
  padding: 15px;
  float: left;
  position: relative;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__bar___3BvKO {
  height: 18px;
  display: block;
  background: #0647bb;
  width: 100%;
  border-radius: 8px;
}
.index__pumpingStation___t63pN .index__drainagePump___25mrZ .index__sbox___3oBPZ .index__bzbeijin___3ThEG .index__bar1___kVyDZ {
  height: 18px;
  display: block;
  background: #00ffff;
  width: 0;
  border-radius: 8px;
  -webkit-transition: width 0.8s ease;
  transition: width 0.8s ease;
  -webkit-animation: index__progressbar___1cbgH 7s infinite;
  animation: index__progressbar___1cbgH 7s infinite;
}
@-webkit-keyframes index__progressbar___1cbgH {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes index__progressbar___1cbgH {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

/*# sourceMappingURL=index.css.map*/