.index__hotline___-oHVl {
  width: 860px;
  height: 269px;
}
.index__hotline___-oHVl .index__title___1QRQ8 {
  width: 137px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
}
.index__hotline___-oHVl .index__kuang___3Se8J {
  margin-top: 10px;
  width: 860px;
  height: 222px;
  overflow: hidden;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ {
  margin: 14px 0 0 13px;
  width: 812px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(2, 208, 255, 0.1)), to(rgba(22, 32, 99, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(2, 208, 255, 0.1) 0%, rgba(22, 32, 99, 0.1) 100%);
  background-image: linear-gradient(90deg, rgba(2, 208, 255, 0.1) 0%, rgba(22, 32, 99, 0.1) 100%);
  overflow: hidden;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__left___23sUl {
  float: left;
  display: inline-block;
  width: 184px;
  height: 572px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__left___23sUl ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__left___23sUl ul li {
  margin: 13px 0 0 9px;
  list-style: none;
  width: 184px;
  height: 52px;
  overflow: hidden;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__left___23sUl ul li span {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__left___23sUl ul li span i {
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  color: #00ffff;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__month___1eGpi {
  float: left;
  width: 284px;
  height: 163px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__bj___3ReLZ .index__month___1eGpi .index__box___1E1uX {
  width: 100%;
  height: 100%;
  margin-left: 22px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK {
  float: left;
  margin-left: 55px;
  margin-top: 8px;
  width: 286px;
  height: 195px;
  overflow: hidden;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__top_box___1a3a7 {
  width: 286px;
  height: 20px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__top_box___1a3a7 p {
  width: 20%;
  height: 20px;
  float: left;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__top_box___1a3a7 ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 20px;
  margin-top: 3px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__top_box___1a3a7 ul li {
  float: left;
  margin-left: 7px;
  display: inline-block;
  width: 25px;
  height: 16px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__top_box___1a3a7 span {
  float: left;
  font-style: 14px;
  letter-spacing: 1px;
  color: #f8a036;
  margin-top: 3px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__rx___1i-u5 {
  width: 274px;
  height: 169px;
}
.index__hotline___-oHVl .index__kuang___3Se8J .index__satisfied___1LKzK .index__rx___1i-u5 .index__box___1E1uX {
  width: 100%;
  height: 100%;
}
.index__call1___2DC7a {
  margin-left: 65px;
}
.index__call2___143LM {
  margin-left: 51px;
}
.index__call3___2YVnd {
  margin-left: 28px;
}

/*# sourceMappingURL=index.css.map*/