.index__buttombox___-K_mV {
  float: left;
  width: 2319px;
  height: 830px;
}
.index__buttombox___-K_mV .index__tongji___23s5K {
  width: 384px;
  height: 103px;
  text-align: center;
}
.index__buttombox___-K_mV .index__tongji___23s5K a {
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 103px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 30px #f4faf5;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U {
  margin-top: 30px;
  width: 2319px;
  height: 698px;
  border-style: solid;
  border-color: transparent;
  border-width: 400px 310px 60px 165px;
  -webkit-border-image: url(/images/imgs/框.png);
       -o-border-image: url(/images/imgs/框.png);
          border-image: url(/images/imgs/框.png);
  border-image-slice: 400 310 60 165 fill;
  padding: 0;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj {
  height: 710px;
  margin-top: -400px;
  margin-left: -89px;
  margin-right: -432px;
  margin-bottom: -15px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b {
  overflow: hidden;
  width: 22.3%;
  height: 78%;
  float: left;
  margin-top: 88px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 {
  overflow: hidden;
  margin-bottom: 50px;
  width: 516px;
  height: 149px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 p {
  width: 100%;
  font-size: 36px;
  margin-bottom: 40px;
  color: #ffffff;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 p span {
  font-size: 72px;
  font-weight: 700;
  color: #00ffff;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 .index__call1___OTy7n {
  margin-left: 183px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 .index__call2___2pOG4 {
  margin-left: 146px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomleft___gxt8b .index__electric___2L558 .index__call3___3JxW9 {
  margin-left: 79px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomcenter___1Gb0j {
  float: left;
  margin-top: 138px;
  margin-left: 62px;
  width: 799px;
  height: 456px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomcenter___1Gb0j .index__tatistics___2WAN3 {
  width: 100%;
  height: 100%;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc {
  float: left;
  margin-top: 81px;
  margin-left: 30px;
  width: 792px;
  height: 565px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__zhemian___1pVt7 {
  width: 672px;
  height: 445px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__zhemian___1pVt7 .index__satisfied___1tmni {
  width: 100%;
  height: 100%;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__manyi___1oyUR {
  width: 792px;
  height: 39px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__manyi___1oyUR p {
  float: left;
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__manyi___1oyUR ul {
  float: left;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__manyi___1oyUR ul li {
  list-style: none;
  float: left;
  width: 71px;
  height: 44px;
  margin-left: 15px;
}
.index__buttombox___-K_mV .index__buttomb___3L_7U .index__sbox___20fLj .index__buttomright___1q5mc .index__manyi___1oyUR span {
  display: inline-block;
  float: right;
  font-size: 40px;
  letter-spacing: 2px;
  color: #f8a036;
}

/*# sourceMappingURL=index.css.map*/