.index__div2___3Blr4 {
  float: left;
  width: 714px;
  height: 269px;
}
.index__div2___3Blr4 .index__titleNode___1qDuQ {
  width: 137px;
  height: 37px;
  color: #ffffff;
  /* float: left; */
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  position: relative;
  /* margin-left: 88px; */
  font-size: 16px;
  text-shadow: 0 0 30px #f4faf5;
}
.index__div2___3Blr4 .index__realtime___2NEmj {
  width: 713px;
  height: 222px;
  margin-top: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 200px 310px 35px 65px;
  -webkit-border-image: url(/images/imgs/onescreen/框.png);
       -o-border-image: url(/images/imgs/onescreen/框.png);
          border-image: url(/images/imgs/onescreen/框.png);
  border-image-slice: 200 310 35 65 fill;
  padding: 0;
}
.index__div2___3Blr4 .index__realtime___2NEmj .index__sbox___N0je6 {
  height: 200px;
  margin-top: -205px;
  margin-left: -65px;
  margin-right: -432px;
  margin-bottom: -15px;
}
.index__div2___3Blr4 .index__realtime___2NEmj .index__sbox___N0je6 .index__demo___1n3vF {
  overflow: hidden;
  height: 500px;
}
.index__div2___3Blr4 .index__realtime___2NEmj .index__sbox___N0je6 .index__demo2___34tD2 {
  margin-top: -20px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD {
  width: 700px;
  height: 206px;
  overflow: hidden;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa {
  width: 690px;
  padding-top: 20px;
  padding-left: 25px;
  margin: 22px 0 0 19px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa tr {
  height: 29px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(1) {
  width: 140px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(2) {
  width: 74px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(3) {
  width: 83px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(4) {
  width: 58px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(5) {
  width: 55px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(6) {
  width: 55px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(7) {
  width: 80px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th:nth-child(8) {
  width: 80px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa th {
  height: 20px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 20px;
  color: #ffffff;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(1) {
  width: 140px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(2) {
  width: 74px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(3) {
  width: 83px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(4) {
  width: 58px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(5) {
  width: 55px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(6) {
  width: 55px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(7) {
  width: 80px ;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td:nth-child(8) {
  width: 80px;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa td {
  height: 33px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-stretch: normal;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa .index__striped1___1BJT1 {
  background-color: #172362;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa .index__striped___1cJ_A {
  background-color: #0a5bb2;
  text-align: center;
}
.index__div2___3Blr4 .index__smalltable___1RWoD .index__table___3P8xa .index__striped2___2G59u {
  background-color: #133884;
}

/*# sourceMappingURL=index.css.map*/