.index__header___5KN85 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8640px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.index__header___5KN85 .index__time___1gvd8 {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 26px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.index__header___5KN85 .index__time___1gvd8 .index__timeIcon___3Qd_4 {
  margin-right: 8px;
  color: #0bbcfa;
}
.index__header___5KN85 .index__label___1JlSi {
  position: absolute;
  left: 20px;
  top: 70%;
  font-size: 26px;
  /* height: 207px; */
  width: 2320px;
  height: 207px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz {
  width: 343px;
  height: 116px;
  float: left;
  line-height: 116px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleName___h1cEm {
  float: left;
  margin-left: 10px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleSlectName___2C9d0 {
  color: #00ffff;
  float: left;
  margin-left: 10px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleimg1___2zkm5 {
  float: left;
  margin-top: 30px;
  margin-left: 77px;
  width: 55px;
  height: 55px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleimg2___1Tw7n {
  float: left;
  margin-top: 30px;
  margin-left: 77px;
  width: 70px;
  height: 49px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleimg3___4SgzD {
  float: left;
  margin-top: 26px;
  margin-left: 77px;
  width: 64px;
  height: 64px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleNode___34uBz .index__titleimg4___1MrG9 {
  float: left;
  margin-top: 30px;
  margin-left: 77px;
  width: 67px;
  height: 52px;
}
.index__header___5KN85 .index__label___1JlSi .index__titleimg5___1axMH {
  float: left;
  margin-top: 30px;
  margin-left: 77px;
  width: 2320px;
  height: 37px;
}
.index__header___5KN85 .index__title___2NqbN {
  width: 3109px;
  height: 168px;
  font-size: 34px;
  margin-bottom: 8px;
}
.index__header___5KN85 .index__title___2NqbN .index__titleimg___1yQSM {
  float: left;
  margin-top: 50px;
  margin-left: 1070px;
  width: 897px;
  height: 116px;
}
.index__header___5KN85 .index__title___2NqbN .index__titleimga___2mXNQ {
  float: left;
  position: absolute;
  top: 192px;
  margin-left: -910px;
  width: 44px;
  height: 44px;
}
.index__header___5KN85 .index__title___2NqbN .index__titleimgb___313iI {
  float: left;
  width: 1171px;
  height: 100px;
  text-align: center;
  /* margin-top: 1px; */
  padding-top: 25px;
  margin-left: 969px;
}
.index__header___5KN85 .index__desc___29hBo {
  position: absolute;
  right: 20px;
  top: 20%;
  color: #77fbe3;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm {
  float: left;
  line-height: 116px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
  width: 774px;
  height: 230px;
  /* background-color: #0090ff; */
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox {
  width: 35%;
  height: 100%;
  float: left;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox .index__weaimg___DpiLl {
  float: left;
  margin-top: 70px;
  margin-left: 7px;
  width: 117px;
  height: 97px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox .index__weaName___2VTvw {
  width: 119px;
  height: 89px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox .index__weaName___2VTvw .index__weaName1___1tOTO {
  width: 60px;
  height: 45px;
  font-family: MicrosoftYaHei;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  /* line-height: 16px; */
  letter-spacing: 0px;
  color: #fff45c;
  /* margin-top: 26px; */
  position: absolute;
  left: 120px;
  bottom: 140px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox .index__weaName___2VTvw .index__weaName2___2cGmk {
  font-family: MicrosoftYaHei;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #fff45c;
  position: absolute;
  bottom: 65px;
  left: 120px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea1___3U1Ox .index__weaName3___2kJUE {
  width: 4px;
  height: 96px;
  background-color: #ffffff;
  position: absolute;
  bottom: 55px;
  margin-left: 90px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea2___1O_NQ {
  width: 65%;
  height: 100%;
  float: left;
  padding-top: 30px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea2___1O_NQ .index__date1___2wnyW {
  width: 224px;
  height: 49px;
  font-family: PlakatDBNormal;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 76px;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode___3tlnm .index__wea2___1O_NQ .index__date2___JTC1x {
  width: 378px;
  height: 39px;
  font-family: MicrosoftYaHei;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x {
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
  width: 774px;
  height: 230px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe {
  width: 20%;
  height: 100%;
  float: left;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe ul {
  width: 178px;
  height: 272px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__li1___z2zDZ {
  list-style: none;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #ffffff;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__li2___3lugS {
  list-style: none;
  height: 32px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #0090ff;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__li3___3QWQk {
  list-style: none;
  height: 110px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__li4___3AAAA {
  list-style: none;
  height: 77px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 30px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__li5___2BpEA {
  list-style: none;
  height: 77px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__weaimg1___cw-yc {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__weaimg2___yqwoo {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__weaimg3___Jri8M {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__weaimg4___2Ysln {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___5KN85 .index__desc___29hBo .index__weatherNode2___2Rr7x .index__wea3___15yYe .index__weaimg5___2ErB6 {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}

/*# sourceMappingURL=index.css.map*/