.index__header___Z6ATU {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8640px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.index__header___Z6ATU .index__time___UTU1d {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 26px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.index__header___Z6ATU .index__time___UTU1d .index__timeIcon___2PJBp {
  margin-right: 8px;
  color: #0bbcfa;
}
.index__header___Z6ATU .index__label___2yggj {
  position: absolute;
  left: 20px;
  top: 70%;
  font-size: 26px;
  /* height: 207px; */
  width: 2320px;
  height: 207px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX {
  width: 343px;
  height: 116px;
  float: left;
  line-height: 116px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleName___3aaqF {
  font-size: 44px;
  float: left;
  margin-left: 27px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleSlectName___BOhvB {
  color: #00ffff;
  float: left;
  font-size: 44px;
  margin-left: 27px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleimg1___1_9yM {
  float: left;
  margin-top: 30px;
  margin-left: 31px;
  width: 55px;
  height: 55px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleimg2___LgZv7 {
  float: left;
  margin-top: 30px;
  margin-left: 31px;
  width: 70px;
  height: 49px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleimg3___xQgSB {
  float: left;
  margin-top: 26px;
  margin-left: 31px;
  width: 64px;
  height: 64px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleNode___3n0wX .index__titleimg4___hxclY {
  float: left;
  margin-top: 30px;
  margin-left: 31px;
  width: 67px;
  height: 52px;
}
.index__header___Z6ATU .index__label___2yggj .index__titleimg5___1YLTM {
  float: left;
  margin-top: 30px;
  margin-left: 77px;
  width: 2320px;
  height: 37px;
}
.index__header___Z6ATU .index__title___1RRlk {
  width: 3109px;
  height: 168px;
  font-size: 34px;
  margin-bottom: 8px;
}
.index__header___Z6ATU .index__title___1RRlk .index__titleimg___DGY4D {
  float: left;
  margin-top: 50px;
  margin-left: 1070px;
  width: 897px;
  height: 116px;
}
.index__header___Z6ATU .index__title___1RRlk .index__titleimga___3vI69 {
  float: left;
  position: absolute;
  top: 192px;
  margin-left: -910px;
  width: 44px;
  height: 44px;
}
.index__header___Z6ATU .index__title___1RRlk .index__titleimgb___2GLrs {
  float: left;
  width: 1171px;
  height: 100px;
  text-align: center;
  /* margin-top: 1px; */
  padding-top: 25px;
  margin-left: 969px;
}
.index__header___Z6ATU .index__desc___1clz9 {
  position: absolute;
  right: 20px;
  top: 20%;
  color: #77fbe3;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o {
  float: left;
  line-height: 116px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
  width: 774px;
  height: 230px;
  /* background-color: #0090ff; */
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC {
  width: 35%;
  height: 100%;
  float: left;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC .index__weaimg___1z2Mr {
  float: left;
  margin-top: 70px;
  margin-left: 7px;
  width: 117px;
  height: 97px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC .index__weaName___3i005 {
  width: 119px;
  height: 89px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC .index__weaName___3i005 .index__weaName1___3kxg_ {
  width: 60px;
  height: 45px;
  font-family: MicrosoftYaHei;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  /* line-height: 16px; */
  letter-spacing: 0px;
  color: #fff45c;
  /* margin-top: 26px; */
  position: absolute;
  left: 120px;
  bottom: 140px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC .index__weaName___3i005 .index__weaName2___2q7Yw {
  font-family: MicrosoftYaHei;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #fff45c;
  position: absolute;
  bottom: 65px;
  left: 120px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea1___1NuaC .index__weaName3___2Byff {
  width: 4px;
  height: 96px;
  background-color: #ffffff;
  position: absolute;
  bottom: 55px;
  margin-left: 90px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea2___8lPHg {
  width: 65%;
  height: 100%;
  float: left;
  padding-top: 30px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea2___8lPHg .index__date1___3qzV6 {
  width: 224px;
  height: 49px;
  font-family: PlakatDBNormal;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 76px;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode___3TD3o .index__wea2___8lPHg .index__date2___15RVF {
  width: 378px;
  height: 39px;
  font-family: MicrosoftYaHei;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm {
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 88px;
  width: 774px;
  height: 230px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg {
  width: 20%;
  height: 100%;
  float: left;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg ul {
  width: 178px;
  height: 272px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__li1___AqByO {
  list-style: none;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #ffffff;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__li2___14LqH {
  list-style: none;
  height: 32px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #0090ff;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__li3___1emED {
  list-style: none;
  height: 110px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__li4___1whz1 {
  list-style: none;
  height: 77px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 30px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__li5___2bMSw {
  list-style: none;
  height: 77px;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__weaimg1___b0-Pi {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__weaimg2___OcbOp {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__weaimg3___2Urjz {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__weaimg4___VZiXJ {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}
.index__header___Z6ATU .index__desc___1clz9 .index__weatherNode2___3Nhhm .index__wea3___1PFfg .index__weaimg5___37sC5 {
  float: left;
  margin-top: 29px;
  margin-left: 26px;
  width: 100px;
  height: 89px;
}

/*# sourceMappingURL=index.css.map*/