.index__concentration___1ucDe {
  width: 2323px;
  height: 674px;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh {
  width: 2323px;
  height: 103px;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh .index__cod___3SQlu {
  float: left;
  text-align: center;
  width: 384px;
  height: 103px;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh .index__cod___3SQlu p {
  font-size: 44px;
  line-height: 103px;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 30px #f4faf5;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh .index__qishu___3dxQm {
  float: right;
  width: 464px;
  height: 73px;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh .index__qishu___3dxQm .index__one___19jus {
  float: left;
  text-align: center;
  line-height: 73px;
  font-size: 36px;
  letter-spacing: 2px;
  color: #00ffff;
  width: 227px;
  height: 73px;
}
.index__concentration___1ucDe .index__topConcentration___1ZQgh .index__qishu___3dxQm .index__three___22JJG {
  float: right;
  width: 227px;
  height: 73px;
  text-align: center;
  line-height: 73px;
  font-size: 36px;
  letter-spacing: 2px;
  color: #42b6fe;
}
.index__districtRow___2-fSb {
  width: 2322px;
  height: 542px;
  border-style: solid;
  border-color: transparent;
  border-width: 400px 310px 60px 165px;
  -webkit-border-image: url(/images/imgs/框.png);
       -o-border-image: url(/images/imgs/框.png);
          border-image: url(/images/imgs/框.png);
  border-image-slice: 400 310 60 165 fill;
  padding: 0;
  margin-top: 29px;
}
.index__districtRow___2-fSb .index__sbox___HyD1q {
  height: 460px;
  margin-top: -400px;
  margin-left: -89px;
  margin-right: -432px;
  margin-bottom: -15px;
}
.index__districtRow___2-fSb .index__oneBox___337sd:nth-child(1) {
  border: 2px dashed #0090ff;
}
.index__districtRow___2-fSb .index__oneBox___337sd:nth-child(2) {
  margin: 50px 0 0 30px;
  border: 2px dashed #0090ff;
  border-style: dashed none dashed dashed;
}
.index__districtRow___2-fSb .index__oneBox___337sd:nth-child(3) {
  border: 2px dashed #0090ff;
  border-style: dashed none dashed none;
}
.index__districtRow___2-fSb .index__oneBox___337sd:nth-child(4) {
  border: 2px dashed #0090ff;
  border-style: dashed none dashed none;
}
.index__districtRow___2-fSb .index__oneBox___337sd:nth-child(5) {
  border: 2px dashed #0090ff;
  border-style: dashed dashed dashed none;
}
.index__districtRow___2-fSb .index__oneBox___337sd {
  display: inline-block;
  position: relative;
  width: 18%;
  height: 460px;
}
.index__districtRow___2-fSb .index__oneBox___337sd .index__codCircle___2WN0t {
  position: absolute;
  top: 88px;
  left: 42px;
}
.index__districtRow___2-fSb .index__oneBox___337sd p {
  letter-spacing: 2px;
  position: absolute;
  font-size: 33px;
  color: #ffffff;
}
.index__districtRow___2-fSb .index__oneBox___337sd span {
  position: absolute;
  left: -2%;
  top: 40%;
  font-size: 40px;
  color: #0090ff;
  letter-spacing: 2px;
}
.index__spanA___VxubM {
  position: absolute;
  top: 90% !important;
  left: 35% !important;
  margin-top: -13px;
}
.index__spanANew___2BLB8 {
  position: absolute;
  top: 90% !important;
  left: 30% !important;
  margin-top: -13px;
}
.index__spanAA___qqQsn {
  position: absolute;
  top: 50% !important;
  left: 35% !important;
}
.index__spanAAA___2H7Uw {
  position: absolute;
  top: 40% !important;
  left: 30% !important;
}

/*# sourceMappingURL=index.css.map*/